@use 'timeline';

.pageTitle {
    text-align: center;
    font-size: 500%;
    font-family: 'Poppins', sans-serif;
}

div.controls{
    text-align: center;
    margin-bottom: 10px;

    input, button{
        font-size: 25px;
        height: 5rem;
    }
}

.noPlanetsFound{
    text-align: center;
    font-size: 200%;
    font-family: 'Urbanist', sans-serif;
    color: red;
    margin-top: 60px;
}

.box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
     flex-direction: row;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 940px) {
  .box {
    flex-direction: column;
  }

  div.controls{
    input, button{
      width: 20rem;
    }
  } 
}

.box-content {
    padding: 20px;
    margin: 10px;
}

.fade-in {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }